@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Open+Sans:wght@400;600&family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-opensans text-[#EAEAEA] bg-[#1E1E2F];
  }

  h1 {
    @apply font-montserrat font-bold text-[36px] text-white;
  }

  h2 {
    @apply font-montserrat font-semibold text-[28px] text-[#F5A623];
  }

  button {
    @apply font-roboto font-bold text-[18px] text-white;
  }
}

/* Masquer les petites flèches des inputs number */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
